<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Indigo</title>

  <link rel="stylesheet" href="./assets/css/main.css">
  <link rel="stylesheet" href="./assets/css/welcome.css">
</head>
<body>

  <div class="installer">
    <h1 class="step"></h1>

    <div class="content">
      <div class="center">
        <div class="internet-list">
          <div class="internet-item">
            <h6>Livebox-2FE2</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="bar">
      <a href="#" onclick="nextStep()" class="btn next">Next</a>
      <a href="#" onclick="backStep()" class="btn back">Back</a>
    </div>

  </div>
  
  <script src="./assets/js/steps/index.js"></script>

</body>
</html>